
{% extends "layout.html" %}

{% block title %}
    Join League
{% endblock %}

{% block main %}




    <table class="table table-striped">
        <thead>
            <tr>
                <th>League Name</th>
                <th>Current Number of Teams</th>
                <th>Maximum Number of Teams</th>
                <th> Join </th>
            </tr>
        </thead>


        <tbody>
            {% for row in league %}
            <form action="/join" method="post">
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td> <button class="btn btn-primary" name="symbol" value="{{ row[1] }}"type="submit">Join</button></td>
                </tr>
            {% endfor %}
        </form>
        </tbody>
    </table>
{% endblock %}