{% extends 'layout.html' %}

{% block title %}
    Players
{% endblock %}
{% block main %}
 <form action='/players' method='post'>
        <div class='form-group'>
            <select name=stat class='form-control'>
            <option disabled selected value=''>Sort by</option>
            <option value='salaryasc'>salary – low to high</option>
            <option value='salarydesc'>salary – high to low</option>
            <option value='points'>Points per game</option>
        </select>
        </div>
        <!--<div class='form-group'>-->
        <!--    <input autocomplete='off' autofocus class='form-control' name='shares' placeholder='Shares' type='text'>-->
        <!--</div>-->
    <button class='btn btn-primary' type='submit'>Sort</button>
</form>

<p></p>

<p>CASH: ${{ cash }}</p>

<div class='section'>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Team</th>
                <th>Points</th>
                <th>Assists</th>
                <th>Rebounds</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Turnovers</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
        {% for row in stats %}
        <form action="/add" method="post">
            <tr>
                <td><button class="btn btn-primary" name="id" value="{{ row[10] }}"type="submit">Add</button></td>
                <td>{{ row[0] }} </td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>${{ row[9] }}</td>
            </tr>

        {% endfor %}
        </form>
        </tbody>
    </table>
</div>


{% endblock %}